
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Radio Canada', sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.header h1{
    text-align: center;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 35px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    border: 1px solid #000;
    border-radius: 5px;
    height: 75px;
    width: 75px;
    margin: 2px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}
.btn:hover{
    cursor: pointer;
    background: rgb(240,240,240);
}
.btn:disabled{
    cursor: #000;
    cursor: no-drop;
}
.reset,.result{
    text-align: center;
}
#reset{
    border: 1px solid #000;
    cursor: pointer;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 17px;
    margin: 35px;
    transition: all 0.1s ease-in-out;
}
@media (max-width: 600px) {
    /* body {
        background: #f00;
        color: #fff;
    } */}

    /* Media For Desktop */

@media (min-width: 1201px) {
    /* body {
        background: #000;
        color: #fff;
    } */
}

/* Media For Ipad */
@media (min-width: 601px) and (max-width: 1200px) {
    /* body {
        background: #00f;
        color: #fff;
    } */}
    